@font-face {
    font-family: 'Human';
    src: url('Human.eot');
    src: url('Human.eot?#iefix') format('embedded-opentype'),
         url('Human.woff') format('woff'),
         url('Human.ttf') format('truetype'),
         url('Human.svg#Daum_Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}